<html>
    <head>
        <title> Links </title>
    </head>
    <body>
        <h1> Links </h1>
        <table>
        #foreach ($link in ${linkList.result})
            <tr>
                <td> ${link.id} </td> <td> ${link.url} </td>
            </tr>
        #end
        #if (${linkList.result.isEmpty()})
            <tr> <td colspan="2"> No rows </td></tr>
        #end
        </table>
    </body>
</html>