<script type="text/javascript">

    function checkUrlAvailability(url) {
        jQuery.ajaxHelper.performAjaxRequest(
            "#springUrl("/link/add.html")",
            { url: url },
            { onSuccess: function(result) { alert(result); } });
    }

</script>

<form class="dialogForm" action="#springUrl("/link/add.html")" method="post" width="400" height="300" title="Add link">
    <table>
        <tr>
            <td> <label for="url"> Url: </label> </td>
            <td> <input id="url" type="text" name="url" /> </td>
        </tr>
    </table>
</form>

<div class="dialogButtonPane">
    <input type="submit" value="Submit" onclick="$('#addLinkDlg').find('.dialogForm').trigger('submit');" />
    <input type="button" value="Cancel" onclick="$('#addLinkDlg').dialog('close');" />
</div>