<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> Links </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h1> Links </h1>

        <form action="#springUrl("/link/list.html")">
            <table>
                <tr>
                    <td> URL: </td>
                    <td> <input type="text" name="example.url" /> </td>
                    <td> </td>
                    <td> </td>
                </tr> <tr>
                    <td colspan="2"> </td>
                    <td colspan="2"> <input type="submit" value="Apply" /> </td>
                </tr>

            </table>
        </form>

        <table>
        #foreach ($link in ${linkList.result})
            <tr>
                <td> ${link.id} </td> <td> ${link.url} </td>
            </tr>
        #end
        #if (${linkList.result.isEmpty()})
            <tr> <td colspan="2"> No rows </td></tr>
        #end
        </table>
    </body>
</html>